<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>用户指定月份天数输出</title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			请输入月份：<input v-model="num" /><br />
			<p v-for="d in months" v-if="d.n==num">{{d.n}}月份有{{d.days}}天</p>
		</div>
		
		<script type="text/javascript">
			let v=new Vue({
				el:'#app',
				data:{
					num:'',
					months:[
						{n:'1',days:'31'},
						{n:'2',days:'28'},
						{n:'3',days:'31'},
						{n:'4',days:'30'},
						{n:'5',days:'31'},
						{n:'6',days:'30'},
						{n:'7',days:'31'},
						{n:'8',days:'31'},
						{n:'9',days:'30'},
						{n:'10',days:'31'},
						{n:'11',days:'30'},
						{n:'12',days:'31'}
					]
				},
			})
		</script>
	</body>
</html>
