<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>985-211大学判断</title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			请输入要查询的大学：<input v-model="school"><br>
			<p v-for="s in schools" v-if="s.name==school">您查询的大学为：{{s.name}} , 该校是{{s.type}}院校</p>

		</div>
		<script type="text/javascript">
			let v=new Vue({
				el:'#app',
				data:{
					school:'',
					schools:[
						{name:'清华大学',type:'985、211'},
						{name:'西安交通大学',type:'985、211'},
						{name:'中国人民大学',type:'985、211'},
						{name:'华中科技大学',type:'985、211'},
						{name:'北京师范大学',type:'985、211'},
						{name:'武汉大学',type:'985、211'},
						{name:'国防科技大学',type:'985、211'}
					]
				}
			})
		</script>
	</body>
</html>
