<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>幸运用户抽奖程序</title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<div>
				<button v-on:click="num=Math.ceil(Math.random()*10);"/>抽取幸运用户</button>
				<p v-for="u in users" v-if="u.id==num">幸运用户是:{{u.name}}</p>
			</div>
		</div>
		
		<script type="text/javascript">
			let v=new Vue({
				el:'#app',
				data:{
					num:'',
					users:[
						{id:'1',name:'乐嫣'},
						{id:'2',name:'皓都'},
						{id:'3',name:'长歌'},
						{id:'4',name:'阿诗勒隼'},
						{id:'5',name:'弥弥古丽'},
						{id:'6',name:'阿窦'},
						{id:'7',name:'小五'},
						{id:'8',name:'涉尔'}
					]
				}
			})
		</script>
	</body>
</html>
