<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>国家代码查询器</title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<div>
				请输入国家代码：<input v-model="num" type="text" name="" id="" value="" /><br/>
				<p v-if="num==44">你输入的国家代码是+{{country[0].n}},它表示{{country[0].name}},首都为：{{country[0].shoudu}}</p>
				<p v-if="num==86">你输入的国家代码是+{{country[1].n}},它表示{{country[1].name}},首都为：{{country[1].shoudu}}</p>
				<p v-if="num==1">你输入的国家代码是+{{country[2].n}},它表示{{country[2].name}},首都为：{{country[2].shoudu}}</p>
				<p v-if="num==82">你输入的国家代码是+{{country[3].n}},它表示{{country[3].name}},首都为：{{country[3].shoudu}}</p>
				<p v-if="num==49">你输入的国家代码是+{{country[4].n}},它表示{{country[4].name}},首都为：{{country[4].shoudu}}</p>
			</div>
		</div>
		
		<script type="text/javascript">
			let v=new Vue({
				el:'#app',
				data:{
					num:'',
					country:[
						{n:'44',name:'英国',shoudu:'伦敦'},
						{n:'86',name:'中国',shoudu:'北京'},
						{n:'1',name:'美国',shoudu:'华盛顿'},
						{n:'82',name:'韩国',shoudu:'首尔'},
						{n:'49',name:'德国',shoudu:'柏林'}
					]
				}
			})
		</script>
	</body>
</html>
